.imagediv {
  width: 100%;
  img.photoadmin {
    width: 100%;
    margin-right: 10px;
  }
}

.titlenomprenom {
  font-size: 1.2em;
  margin: 5%;
}

.titleadmin {
  font-size: 1em;
  margin: 0 0 10% 5%;
}
