

h5 {
    text-align: center;
}

.four {
    text-decoration: none;
    color: black;
    font-size: 1.4em;
    margin: 0 auto;

}

.four:hover {
    text-decoration: none;
    color: black;
    font-size: 1.4em;
    margin: 0 auto;
}

.four::after {
    text-decoration: none;
}

.four:active {
    text-decoration: none;
}

.four:visited {
    text-decoration: none;
    color: black;
    font-size: 1.4em;
    margin: 0 auto;
}


.accordion .card .darkBlue {
    background-color: #015579;
    border-radius: 10px;
    margin: 10px 0;
}

.btn:focus {
    text-decoration: none;
  }
