@import '../../../../../../../../scss/variables';

h3.titleformulaire4job{
    color: $orange;
}

p.titrecdilieu{
    margin-top:41px;
    font-weight: bold;
    font-size: 28px;
}
p.ptaillegeantjob2{
    font-weight: bold;
    font-size: 26px;
}