


h5 {
    text-align: center;
}

.coll, .coll:hover, .coll:visited {
    text-decoration: none;
    color: black;
    font-size: 1.4em;
    margin: 0 auto;

}


.accordion .card .violet {
    background-color: #AB1D81;
    border-radius: 10px;
    margin-top: 10px;
}


