h5 {
    text-align: center;
}

.button, .button:hover, .button:visited {
    text-decoration: none;
    color: black;
    font-size: 1.4em;
    margin: 0 auto;

}


.accordion .card .green {
    background-color: #9CC54D;
    border-radius: 10px;
}


