@import '../../../../../../scss/variables';


h3.titleformulaire3job{
    color: $orange;
}

img.imageformulairejob2{
    width: 210px;
}

p.ptaillegeantjob{
    font-size: 20px;
    font-weight: bold;
}