@import '../../../../scss/variables';

@mixin lignenoir100pourcent() {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: #000;
}

p.documents{
    font-weight: bold;
    position: relative;
    display: inline-block;
    &:after{
        @include lignenoir100pourcent();
    }
}

ul.documentutile{
    margin:0px;
    padding:0px;
    list-style: none;
}