// Font

$fontTitle: 'Raleway', sans-serif;
$fontText: 'Aleo', serif;

// Colors

$black: #22212C;
$green: #9CC54D;
$orange: #ED6B1F;
$violet: #AB1D81;
$turquoise: #1E9285;
$bleu: #015579;
$grey: #A3A3A3;
