@import '/../../scss/variables';

@mixin lignenoir100pourcent() {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: #000;
}

$photojeuneshadow: black;
$colonne-gauche:78px;
$colonne-droite:27px;


.logement{
    font-weight: bold;
    color: $violet;
}
.monjob{
    font-weight: bold;
    color:$orange;
}

.formation{
    font-weight: bold;
    color:$green;
}


div.contourjeune{
    padding: 50px 0px;
}

.lignetoutenbas{
    position: relative;
    &:after{
        @include lignenoir100pourcent();
    }
}
.colonne-droite{
    border-left: 1px solid $black;
}

// .colonne-gauche{
//     margin-left: $colonne-gauche;
// }

// .colonne-droite{
//     margin-left:$colonne-droite;
// }