.gdeImg{
    width: 720px;
    height: 405px;
}

/* resize images */
 .resizeGdeImg{
    width: 100%;
    height: auto;
}

.description{
    margin-top: 10vh;
}

.pttesImages{
    height: 405px;
}
/*.imgRight{

    height: 100px;
} */

/* resize images */
/* .pttImage{
    width: 100%;
    height: auto;
}  */