// TITLE 
.title{
    margin-top: 7vh;
}

// GALLERIE 
.gdeImg{
    width: 720px;
    height: auto;
}

 .resizeGdeImg{
    width: 100%;
    height: auto;
}

.pttesImgs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto; 
} 

// DESCRIPTION
.description{
    margin-top: 7vh;
    margin-bottom: 7vh;
}