@import url('https://fonts.googleapis.com/css?family=Aleo|Raleway');

*{
	box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

button{
	background-color: transparent;
	border: none;
}

a{
	text-decoration: none;
	color: $black;
}
