@import '../../../../../../scss/variables';
.logoorange {
    margin-top: 10px;
    font-size: 30px;
    color: white;
    border: 5px solid $orange;
    border-radius: 50%;
    background-color: $orange;
}

div.imagejobformulaire{
    display: flex;
    margin: auto 0 auto 15px;
}

p.textedroiteimage{
    margin: auto 0 auto 15px;
}

h3.titleformulairejob {
    color: $orange;
    position: relative;
    font-weight: bold;
    &:after{
        content: '';
        position: absolute;
        width: calc(100% - 230px);
        height: 1px;
        bottom: 0;
        background: #000;
        margin-left: 90px;
    }
}

button.buttonformulairejob {
    color: white;
    background-color: $orange;
    display: flex;
    margin: 0 auto;
}

.form-control{
    border: 2px solid black;
}