@import '../../../../scss/variables';

.sign-in{
	font-weight: 800;
	padding: 0.5em;
	transition: all 0.3s ease-in-out;
	svg{
		margin-right: 15px;
		color: $green;
	}

	&:hover{
		background-color: $green;
		border-radius: 10px;
		transition: all 0.3s ease-in-out;
		svg{
			color: white;
		}
	}
}

.modal-conn{
	.modal-dialog{
		.modal-content{
			border: 3px solid $green;
			.modal-header{
				border-bottom: none;
				h5{
					font-family: $fontTitle;
					font-weight: 800;
					text-transform: uppercase;
				}
			}
			.modal-body{
				.form-conn{
					div{
						input, label{
							font-family: $fontText;
						}
					}
					button{
						background-color: $green;
						font-weight: 800;
						border: 2px solid $green;
						transition: all 0.3s ease-in-out;
						&:hover{
							background-color: white;
							transition: all 0.3s ease-in-out;
						}
					}
				}
			}
		}
	}
}

.identifiant{
	color: $black;
	margin: 0;
	position: relative;
	z-index: 10;
	&:hover{
		color: $green;
		.menu-profil{
			display: block;
			right: -60px;
			opacity: 1;
			transition: all 0.3s ease;
		}
	}
	.conn-icon{
		margin-right: 10px;
		color: $green;
	}
	.menu-profil{
		display: block;
		opacity: 0;
		position: absolute;
		right: -250px;
		background-color: white;
		border-top: 15px solid white;
		width: 200px;
		padding: 1em; 
		z-index: 1;
		transition: all 0.3s ease;
		button, a{
			text-align: left;
			display: block;
			margin-bottom: 1em;
		}
		a{
			color: $black;
			transition: all 0.3s ease;
			&:hover{
				color:$green;
				text-decoration: none;
				transition: all 0.3s ease;
			}
		}
		button{
			border:none;
			margin:0;
			padding: 0;
			cursor: pointer;
			color: $green;
			font-weight: 800;
			transition: all 0.3s ease;
			&:hover{
				color: $black;
				transition: all 0.3s ease;
			}
		}
	}
}
