@import '../../scss/variables';


.accueil-intro, .form-contact, .evenement{
    padding: 3em 0;
    h2{
        font-weight: 800;
        font-family: $fontTitle;
    }
}

.paEventDate {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 60px;
    height: 50px;
    padding-top: 10px;
    color: white;
    text-align: center;
    line-height: 13px;  
    background-color: $black;
    display: block;
    font-size: 20px;
}

.evenement{
    border-bottom: 1px solid $black;
    border-top: 1px solid $black;
    div{
        div{
            div{
                .acc-img-wrapper{
                    position: relative;
                    img{
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.form-contact{
    div{
        form{
            padding-left: 15px;
            input,textarea{
                margin-bottom: 15px;
                border: 2px solid $black;
                padding: 0.5em 1em;
                color: $turquoise;
            }
            input::-webkit-input-placeholder {
                color:$turquoise;
            }
            input:-moz-placeholder {
                color:$turquoise;
            }
        }
    }
}