@import '../../scss/variables';

.titreVic {

    padding-top: 70px;
}

.logoVic {
    padding-top: 70px;
}

.descriptionVic  {
    line-height:25pt;
    padding-top: 30px;
}

.paEvent {
    text-align: left;
    font-weight: bold;
}