

h5 {
    text-align: center;
}

.input, .input:hover, .input:visited, input:active {
    text-decoration: none;
    color: black;
    font-size: 1.4em;
    margin: 0 auto;

}


.accordion .card .orange {
    background-color: #ED6B1F;
    border-radius: 10px;
    margin-top: 10px;
}


