


h5 {
    text-align: center;
}

.five, .five:hover, .five:visited {
    text-decoration: none;
    color: black;
    font-size: 1.4em;
    margin: 0 auto;

}

.button:focus {
    text-decoration: none;
  }

.accordion .card .lightBlue {
    background-color: #1E9285;
    border-radius: 10px;
    margin-top: 10px;
}


